body{
    background-image: url("../assets/desktop-wallpaper-light-web-background-bright-blue-plain.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #545454;
    gap: 10px;
  }
  
  li {
    float: left;
    letter-spacing: 10px;
  }
  
  li a {
    
    display: block;
    color: rgb(255, 254, 254);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: hwb(0 13% 87%);
  }
.about{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  gap: 70px;
}
.help{
  height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
    gap: 70px;
}

.text{
  font-family: 'Piazzolla', serif;
  font-weight: bold;
  font-size: 35px;
}
* {
  margin: 0;
  padding: 0;
}
.para1{
  padding: 20px;
}
.contact{
  
}